/*-------------
 	General
-------------*/

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
    font-size: 20px;
}

.container {
    width: 1024px;
    min-height: 560px;
    margin: 50px auto;
    
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

button {
    min-height: 40px;
    background: none;
    border: none;
    font-size: 20px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 5px;
    padding: 7px;
    padding-left: 25px;
    padding-right: 25px;
    transition: background 0.2s;
}

/*-------------
 	Header
-------------*/
.header {
    width: 70%;
    padding-top: 50px;
}

.header h1 {
    font-family: 'Ubuntu', 'Avenir';
    font-weight: 700;
    font-size: 32px;
    text-align: center;
}

/*-------------
 	Middle
-------------*/
.middle {
    width: 65%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

button#answer {
    color: #3a76a3;
    border: 2px solid;
    border-color: #3a76a3;

}

button#answer:hover {
    background-color: #f2f2f2;
}

button#answer.buttonClicked {
    color: white; 
    background-color: #3a76a3;
}

/*-------------
 	Footer
-------------*/
.footer {
    margin-bottom: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

/* Ready button */
button#ready {
    background-color: #b9e0ed;
    border: 1px solid;
    border-color: #b9e0ed;
    color: white;
}

/* Set button active */
button#ready.buttonReadyActive {
    background-color: #70c5e2;
}
button#ready.buttonReadyActive:hover {
    background-color: #39b6e2;
}

/* Set button correct answer */
button#ready.buttonReadyCorrect {
    background-color: #8fbe83;
}
button#ready.buttonReadyCorrect:hover {
    background-color: #8fbe83;
}

/* Set button wrong answer */
button#ready.wrongBtn {
    background-color: #f05a69;
    color: white;
    border-color: #f05a69;
}
button#ready.wrongBtn:hover {
    background-color: #f05a69;
    color: white;
    border-color: #f05a69;
}
button#answer.wrongBtn {
    background-color: #f05a69;
    color: white;
    border-color: #f05a69;
}
button#answer.wrongBtn:hover {
    background-color: #f05a69;
    color: white;
    border-color: #f05a69;
}

button#hint {
    margin-bottom: 20px;
    background-color: #add9da;
    color: black;
    visibility: hidden;
}
